alembic==0.9.8
click==6.7
Flask==0.12.2
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
marshmallow==3.0.0b7
mysqlclient==1.3.12
python-dateutil==2.6.1
python-editor==1.0.3
-e git+https://github.com/deathwebo/britecore-backend.git@3eaab52e529e3bce9704fc5b8b205ced6985259d#egg=risker
six==1.11.0
SQLAlchemy==1.2.4
SQLAlchemy-Utils==0.33.0
Werkzeug==0.14.1
